<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h1 style="color: rgb(65, 20, 215);">REST-API</h1>
    <form   method="post" action="/posts"  style="text-align:center; background-color: rgb(70, 159, 197);" >
        <input placeholder="Enter Username" name="username"/><br><br>
        <textarea placeholder="Write Your Post.." name="content"></textarea><br>
        <button>Post</button>
    </form>
</body>
</html>